# Composer dependencies
vendor

# Jetbrains files
.idea
*.iml

# Ignore logs but keep directory
logs

# macOS
.DS_Store

# Ignore environment specific configuration
.deploy/settings.docker.ini
documents
