# Composer dependencies
vendor

# Jetbrains files
.idea
*.iml

# Ignore logs but keep directory
logs

# macOS
.DS_Store

# Ignore environment specific configuration
.deploy/settings.docker.ini
/documents/*

#Do not ignore some files for testing
!documents/templates/Fiche_inscription_membre_actif.pdf
!documents/document/study/study_1/document_2/acompte.docx

C'est pour slack, ne pas merge