# Characters uncoding
AddDefaultCharset UTF-8
DefaultLanguage fr-FR

# Disallow script execution
Options -ExecCGI
AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi

# Allow method
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD|OPTIONS|POST|PUT|DELETE)
RewriteRule .? - [F]

# Desactivate directories content display
Options All -Indexes

# Define time zone
SetEnv TZ Europe/Paris

# File upload sizes
php_value upload_max_filesize 10M
php_value post_max_size 50M

# Protect .htaccess file
<Files ~ "^.*\.([Hh][Tt][AaPp])">
	Order allow,deny
	Deny from all
	Satisfy all
</Files>

# Rewrite to index.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule !\.(js|gif|css|jpg|png|php)$ /index.php [L]
</IfModule>
